<!DOCTYPE html>
<?xml?>
<script type="text/javascript" foo={$scope.foo} instance>
    console.log('Toto tu je megasuperscript');
</script>
<style type="text/css" instance>

    @no-touch
    {
        -moz-user-select:none;
        user-select: none;
    }

    html, body
    {
        margin: 0;
        padding: 0;

        &.no-touch
        {
            @no-touch;
        }
    }
</style>
<div foo="bar" bar={await $scope.foo + '_async_' + 5} foobar>
    <span {[fo*]...{fook:'janko hrasko', ...$scope}}>
        Janko Hrasko
        <foo test={await '5'}/>
        if( Math.random() < 0.5 )
        {
            <style instance>
                body{ background: red; }
            </style>
        }
        <bar/>
    </span>
    if( await ( false && true && (() => { return 1 + ( 2 * 3 )})() ))
    {
        let toto = 'super kod';

        for( let i of toto )
        {
            if( i )
            {
                <div>Foo ** TU MAM RIADNE SALENU VEC **</div>
            }
        }
    }
    else
    {
        <div>Bar *** SALENAKY!!! ***</div>
    }
    //for( let i = 0; i < 5; ++i )
    for( let i = 0; i < ( await new Promise( resolve => setTimeout(() => resolve( 5 ), 5 ))); ++i )
    {
        <div>*** Forik ({i}) ***</div>
    }
</div>
<div foo="bar" bar={$scope.foo + '_not_async_' + 1} foobar>
    <span>
        <Debug {...$scope} {...$props}/>
        Janko Hrasko
        <Static foo="bar" bar={await $scope.foo} {[fo*]...{fook:'janko hrasko', ...$scope}}/>
        *** HLAVNE *** {$id}
        <Static>
            Foo Bar
            *** CONTENT *** {$id}
        </Static>
        <Static>
            Foo Bar 2
            *** CONTENT2 *** {$id}
            <Static3>
                *** TUTAJ SME ***
            </Static3>
        </Static>
    </span>
</div>
<!--Janko 
    hrasko-->
<div foo="bar" bar={await(async( p ) => { return $scope.foo + '_func_' + 1 + '_' + p })($scope.foo)} foobar={$scope.test}>
    <span>
        <span> A </span>  B <span>C {'prd'} </span>
        /** /Janko /*Hrasko
        aj* / marienka
        { await(async(idecko) => $scope.foo + '_' + 42342 + '_' + idecko)($id) }
        //<div>Comment</div>
    </span>
</div>
<{ 'DynamicTag' }>Title</>