<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    Static3
</div><div>
    Static3
</div>
<div>
    Static3
</div>
<div>
    { await new Promise( r => setTimeout(() => r('Static3'), 10 ) )}
</div>
<div>
    Static3
</div>
<div>
    Static3
</div>