<head type={await "test"}>
    <meta charset="utf-8"/>
    {$content}
    *** POD *** {$id}
    if( $props.foo )
    {
        //$props.goo.foo.bar * 5
    }
</head>
<@meta>
    <span>Test Meta</span>
    Textik
</@meta>
<div class="Static async" foo={$scope.foo}>
    Marienka
    toto //nebude
    { await 'blbost' }
    <Static2/>
</div>