<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>
<div>
    <Static3/>
</div>