Janko <span id={$id} data={ $props.data } {...$scope} value={ $scope.test }>hrasko</span>

if( true )
{
    <>
        <div class="test">{'Test <> foo'}</div>
    </>
}
<style>
    html, body{ color: #ff0000; } body{ color: blue; }
</style>
<script var-jozo={ $props.test } var-data={ $scope }>
    console.log('janko\nhrasko');

    console.log('ta\tco\rje');
</script>