Janko <span id={$id} data={ $props.data } {...$scope} value={ $scope.test }>hrasko</span>

if( true )
{
    <>
        <div class="test">{'Test <> foo'}</div>
    </>
}
<script>
    console.log('janko\nhrasko');

    console.log('ta\tco\rje');
</script>